@import url("https://fonts.googleapis.com/css2?family=Nata+Sans:wght@100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  font-family: "Nata Sans", sans-serif;
}

@font-face {
  font-family: odin-font;
  src: url(../sign-up-form/font/Norse-Bold.otf) format("opentype");
}

.container {
  position: absolute;
  display: flex;
  height: 100vh;
  width: 80%;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.odin-container {
  position: relative;
  background-image: url(imgs/halie-west-25xggax4bSA-unsplash.jpg);
  background-size: cover;
  display: flex;
  left: 0;
  height: 100vh;
  width: 60%;
}

.odin-holder {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 160px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 15vh;
}

.odin-holder h1 {
  font-family: odin-font, sans-serif;
  color: white;
  font-size: 80px;
  padding-top: 30px;
}

.odin-holder img {
  height: 100px;
}

.sign-up-container {
  background-color: #f2f2f2;
  width: 100%;
}

.info {
  position: relative;
  width: 600px;
  display: flex;
  flex-direction: column;
  left: 50px;
  top: 100px;
}

.info h3 {
  font-weight: bold;
}

.info h3:last-of-type {
  padding-top: 20px;
}

.sign-up-form {
  background-color: white;
  position: relative;
  width: 100%;
  height: 300px;
  top: 150px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.motivate {
  padding: 10px 5px 10px 20px;
}

form {
  display: flex;
  flex-direction: row;
  padding-left: 10px;
  width: 600px;
}

form input {
  width: 200px;
  font-size: 16px;
  margin-bottom: 20px;
  padding: 5px;
}

form input:focus {
  border-color: blue; /* change border color on focus */
  outline: none;
  box-shadow: 0 0 5px black;
}

form input:invalid:focus {
  border-color: red; /* change border color on focus */
  outline: none;
  box-shadow: 0 0 5px black;
}

form label {
  color: rgb(118, 118, 118);
  display: block;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 4px;
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.account-container {
  position: relative;
  display: block;
  top: 40px;
  left: 20px;
}

.account-container button {
  background-color: #596d48;
  border-radius: 5px;
  width: 25ch;
  height: 40px;
  color: white;
  border: none;
  /* box-shadow: 5px 4px 1px rgba(0, 0, 0, 0.5); */
  cursor: pointer;
  font-weight: bold;
}

.account-container p {
  font-size: 14px;
  margin-top: 10px;
}
